* {
    padding: 0;
        font-family: 'Courier New', Courier, monospace;
    
}

body {
    min-height: 100vh;
    background-color: white;
}

.modual_box {
    padding: 2%;
    border: none;
    border-radius: 50px;
    font-family: 'Menlo';
}

#cancel {
    border-radius: 25px;
    background: black;
    padding: 0.5em;
    width: 120px;
    height: 100%;
    font-size: 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

/* hanbin stuff */
.sidebar_sungbin {
position: fixed;
    top: 0;
    left: 0;
    width: 43%;
    height: 100%;
    background: #E4E8C6;
    display: flex;
}

#nav1_sh, #shanbin_tags, #quickStats_hanbin{
    border-radius: 25px;
    background: #C1AD6E;
    padding: 10px;
    width: auto;
    height: auto;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

#nav1_sh:hover, #shanbin_tags:hover, #quickStats_hanbin:hover{
    background-color: #DFD0CF;
}




/* gunwook stuff */

.nav1_gw, .gunwook_tags1 {
    border-radius: 25px;
    background: black;
    padding: 0.6em;
    width: 100%;
    height: 100%;
    font-size: 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.nav1_gw:hover, .gunwook_tags1:hover, #quickStats:hover,
#cancel:hover {
    background-color: #A9AFDF;
    color: white;
}

#quickStats, #cancel {
    border-radius: 25px;
    background: black;
    padding: 0.5em;
    width: 120px;
    height: 100%;
    font-size: 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.sidebar_gunwook {
    position: fixed;
    top: 0;
    left: 0;
    width: 604px;
    height: 100%;
    background: #D26EB7;
    display: flex;
}

/* -------- taerae stuff */
#nav1_tr, #taerae_tags1 {
    border-radius: 25px;
    background: #8AB797;
    padding: 10px;
    width: 100%;
    height: 150px;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

#nav1_tr:hover,
#taerae_tags1:hover{
    background-color: #D3C8A6;
}

.sidebar_taerae {
    position: fixed;
    top: 0;
    left: 0;
    width: 600px;
    height: 100%;
    /* background: #ECE5DB; */
    background: #ECE5DB;
    display: flex;
}



/* ----- ricky stuff */
#nav1_rk, #ricky_tags {
    border-radius: 25px;
    background: #db93b0;
    padding: 10px;
    width: 100%;
    height: 150px;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

#nav1_rk:hover,
#ricky_tags:hover {
    background-color: #9b2151;
}

.sidebar_ricky {
    position: fixed;
    top: 0;
    left: 0;
    width: 600px;
    height: 100%;
    color: white;
    /* background: #2E2623; */
    background: #303030;
    display: flex;
}



/* ---------- hao stuff */
#nav_hao, #hao_tags {
    border-radius: 25px;
    background: #011936;
    padding: 10px;
    width: 100%;
    height: 150px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#nav_hao:hover,
#hao_tags:hover {
    background-color: #ebbc4d;
}

.sidebar_hao {
    position: fixed;
    top: 0;
    left: 0;
    width: 600px;
    height: 100%;
    color: white;
    /* background: #2E2623; */
    background: #973030;
    display: flex;
}



/* ------ matt */
#nav_matt, #matt_tags {
    border-radius: 25px;
    background: #809BCE;
    padding: 10px;
    width: 100%;
    height: 150px;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
}

#nav_matt:hover, #matt_tags:hover {
    background-color: #95B8D1;
}

.sidebar_matt {
    position: fixed;
    top: 0;
    left: 0;
    width: 600px;
    height: 100%;
    color: #3864bb;
    background: #e3ce7c;
    display: flex;
}


/* ---- gyuvin stuff reposonive trial ---- */
 .sidebar_gyuvin {
    position: fixed;
    width: 600px;
    height: 100%;
    color: #ffffff;
    /* background: #ffb246; */
    background: #E4944A;
    display: flex;
}

#nav_gyuvin, #gyuvin_tags {
    border-radius: 25px;
    background: #81BFC9;
    padding: 10px;
    width: 100%;
    height: 150px;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
}

#nav_gyuvin:hover, #gyuvin_tags:hover {
    background-color: #05a8aa;
}




/* --- yujin stuff --- */

 .sidebar_yujin {
     position: fixed;
     width: 600px;
     height: 100%;
     color: #ffffff;
     /* background: #5F70C1; */
     background: #f4966d;
     display: flex;
 }

 #nav_yujin,
 #yujin_tags {
     border-radius: 25px;
     /* background: #B3B7F7; */
     background: #8e583b;
     padding: 10px;
     width: 100%;
     height: 150px;
     font-size: 15px;
     color: #ffffff;
     text-decoration: none;
 }

 #nav_yujin:hover, #yujin_tags:hover {
     /* background-color: #64C1ED; */
     background-color: #c0775a;

 }




 /* --- jiwoong stuff --- */

 .sidebar_jiwoong {
     position: fixed;
     width: 600px;
     height: 100%;
     color: #ffffff;
     background: #748cab;
     display: flex;
 }

 #nav_jiwoong, #jiwoong_tags {
     border-radius: 25px;
     background: #3e5c76;
     padding: 10px;
     width: 100%;
     height: 150px;
     font-size: 15px;
     color: #ffffff;
     text-decoration: none;
 }

 #nav_jiwoong:hover,
 #jiwoong_tags:hover {
     background-color: #1d2d44;

 }



















.member_navbar {
    width: 100px;
    position: fixed;
    font-size: 17px;
    top: 5%;
    left: 86%;
    line-height: 40px;
}



.member_info {
    font-size: 15px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 20%;
    overflow: scroll;
    padding-bottom: 30%;
}

.memberFullbody {
    position: fixed;
    left: 85%;
    bottom: 10px;
}

.memberGIF {
    z-index: 1;
    position: fixed;
    left: 35%;
    bottom: 10px;
    border-radius: 50%;
}

.imagepng {
    z-index: 1;
    position: fixed;
    /* overflow: hidden; */
    left: 500px;
    top: 10px;
}

.sanrio_character {
    z-index: 1;
    position: fixed;
    bottom: 0%;
    left: 30px;
}

.scrollbox {
    overflow: auto;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: white;
}

.scroll_images {
    z-index: 1;
    position: absolute;
    width: 450px;
    top: 15%;
    left: 52%;
}





/* ---- quick stats stuff ---- */
#favDialog {
    font-size: 15px;
    padding: 1%;
    width: fit-content;
    font-style:normal;
    border-radius: 10%;
}

