*{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

.navbar {
    background-color: #0100FC;
    overflow: hidden;
    padding: 12px;
    text-align: center;
    font-size: 17px;
    
}

.navbar a {
    width: 25%;
    padding: 5px;
    color: white;
    text-decoration: none;
}


.navbar a:hover {
    background-color: #03FD07;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
        /* If you want the text to be left-aligned on small screens */
    }
}



/* abouts page */
.about_me {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    font-size: 15px;
    text-align: center;
    /* padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px; */
    padding:1rem;
}

.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}

.responsive {
    width: 50%;
    height: auto;
}

#graphic_design_is_my_passion {
    margin-left: 25%;
    margin-bottom: 10px;
}







/* ----- index page ------- */






/* ------- members directory -------- */

.grid-container {
    /* display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 5px;
    background-color: black;
    padding: 5px; */
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    background-color: #0C0998;
    margin-top: 2%;
    padding: 5%;
    gap: 1rem;
}


.grid-container>div {
    background-color: white;
    text-align: center;
    padding: 20px;
    font-size: 15px;
}

.item1 {
    grid-area: 1 / 1 / 2 / 4;
}

.item2 {
    grid-area: 2 / 1 / 5 / 4;
    width: 560px;
    height: 315px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
}

.item3 {
    grid-area: 1 / 4 / 1 / 7
}

a:link {
    color: red;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}










/* ------- socials page ------- */

.grid-container-socials {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    margin-top: 2%;
    padding: 2%;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    text-align: center;
}

.grid-container-socials>div {
    padding: 5px;
    border-radius: 10px;
}

.grid-container-socials>div>h2 {
    margin-top: 0;
}

#heading1 {
    text-align: center;
    padding-top: 50px;
}

#p1 {
    text-align: center;
}